:root {
  --black: #000;
  --white: #fff;
  --blue: #262d38;
  --green: #508111;
  --red: #ed4c54;
  --gray-dark: rgba($blue, 0.65);
  --gray-light: rgba($blue, 0.5);
  --primary-color: var(--blue);
  --accent-color: var(--green);
  --warning-color: var(--red);
  --main-color: var(--primary-color);
  --main-offsize: 0.875rem;
  --add-offsize: 1rem;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("Poppins-Bold.woff2") format("woff2"), url("Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("Poppins-Medium.woff2") format("woff2"), url("Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("Poppins-Regular.woff2") format("woff2"), url("Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--main-color);
  line-height: 1;
  font-family: "Poppins";
  font-size: var(--main-offsize);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

/* Popup container - can be anything you want */
.poopup {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* The actual poopup */
.poopup .poopuptext {
  visibility: hidden;
  width: 160px;
  background-color: #ec5353;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 999;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.poopup .poopuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ec5353 transparent transparent transparent;
}


.poopup .poopuptext1 {
  visibility: hidden;
  width: 160px;
  background-color: rgba(127, 127, 127, 0.85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.poopup .poopuptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(127, 127, 127, 0.85) transparent transparent transparent;
}

/* Toggle this class - hide and show the poopup */
.poopup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

  /* Add animation (fade in the poopup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  background-color: #f5f5f5;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.input {
  display: block;
  width: 100%;
  padding: 27px 20px 12px;
  font-size: 15px;
  line-height: 1.4666666667;
  font-weight: 700;
  border-radius: 12px;
  background-color: var(--white);
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #b2bfa0;
          box-shadow: 0 0 5px #b2bfa0;
}

.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.checkbox__input:checked + .checkbox__label::before {
  border-color: #477215;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border: 2px solid rgba(80, 128, 19, 0.25);
  border-radius: 50%;
  -webkit-transition: border-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  background: url(images/icons/checkmark.svg) center/contain no-repeat;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.5;
}

.checkbox__add-text {
  display: block;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.select {
  /* position: relative; */
  z-index: 6;
}

.select__body {
  position: relative;
}

.select__title {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  color: inherit;
  overflow: hidden;
  text-align: left;
  -webkit-transition: border-radius 0.4s ease;
  transition: border-radius 0.4s ease;
}

._select-open .select__title {
  border-radius: 12px 12px 0 0;
}

.header__select .select__title {
  background-color: rgba(255, 255, 255, 0.05);
}

.select__pseudo-label {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(38, 45, 56, 0.65);
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 12px 22px;
  font-size: 15px;
  line-height: 1.4666666667;
  font-weight: 700;
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
}

.header__select .select__value {
  padding: 12px 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__icon {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3D(0px, -7.5px, 0);
      -ms-transform: translate3D(0px, -7.5px, 0);
          transform: translate3D(0px, -7.5px, 0);
}

.enter-info__country .select__icon,
.header__select .select__icon {
  -webkit-transform: translate3D(0px, 0px, 0);
      -ms-transform: translate3D(0px, 0px, 0);
          transform: translate3D(0px, 0px, 0);
}

._select-open .select__icon {
  -webkit-transform: rotate(-180deg) translate3D(0px, 7.5px, 0);
      -ms-transform: rotate(-180deg) translate3D(0px, 7.5px, 0);
          transform: rotate(-180deg) translate3D(0px, 7.5px, 0);
}

.enter-info__country ._select-open .select__icon,
.header__select ._select-open .select__icon {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
}

.select__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  position: absolute;
  z-index: 101;
  top: 50px;
  left: 0px;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  line-height: 1.4666666667;
  font-weight: 700;
  border-radius: 0 0 12px 12px;
  background-color: var(--white);
  /* box-shadow: 5px 5px 10px rgba($color: #000, $alpha: .5); */
  border-top: 0;
  overflow: hidden;
}

.header__select .select__options {
  top: 46px;
  padding: 0;
  background-color: #59871D;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  /* .header__select & {
  	color: var(--main-color);
  } */
}

.select__option._select-selected {
  color: var(--green);
}

.header__select .select__option:hover,
.header__select .select__option._select-selected {
  color: var(--blue);
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__asset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  margin-right: 5px;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  width: 100%;
}

.popup__content {
  width: 100%;
  max-width: 57.5rem;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #ebedf0;
  -webkit-box-shadow: 20px 20px 50px rgba(161, 176, 207, 0.0361753);
          box-shadow: 20px 20px 50px rgba(161, 176, 207, 0.0361753);
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  color: var(--main-black);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  outline: none;
}

.popup__close svg {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.popup__title {
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 20px;
}

.popup__text {
  line-height: 1.3;
}

.popup__text:not(:last-child) {
  margin-bottom: 25px;
}

.popup__text p:not(:last-child) {
  margin-bottom: 20px;
}

.popup__button {
  font-weight: 400;
  max-width: 240px;
  margin: 0 auto;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.5;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 17.5px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--white);
  background-color: var(--green);
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.button svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.button span {
  margin-right: 10px;
}

.text-elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-button-lock {
  display: none;
}

.swiper-button-disabled {
  opacity: 0.2;
  cursor: auto;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) {
  margin: 1.5625rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock).industries__controls span {
  background-color: rgba(7, 5, 70, 0.2);
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) span {
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) span:not(:last-child) {
  margin: 0 0.625rem 0 0;
}

.swiper-pagination-bullets:not(.swiper-pagination-lock) span.swiper-pagination-bullet-active {
  background-color: var(--add-color);
}

.header__content {
  position: relative;
}

.header__top {
  /*
  @media (max-width:$md3) {
  	flex-wrap: wrap;
  } */
}

.header__logo {
  min-width: 183px;
}

.header__logo img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__caption {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
}

.header__selects {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__select {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: var(--white);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 810px;
}

.header__link-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 15px;
  line-height: 1.4666666667;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header__link-back svg {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.header__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  background-color: var(--white);
  border-radius: 12px;
}

.header__partner img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-phones-header {
  background-color: #f1f5f9;
}

.top-phones-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.top-phones-header__item {
  position: relative;
  white-space: nowrap;
  scroll-snap-align: start;
}

.top-phones-header__item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--main-color);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.footer {
  background-color: var(--white);
}

.footer__text {
  font-size: 12px;
  line-height: 1.3333333333;
  text-align: center;
}

.enter-info__block {
  border-bottom: 1px solid rgba(38, 45, 56, 0.1);
}

.enter-info__input {
  position: relative;
}

.enter-info__input--country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: var(--white);
  border-radius: 0 12px 12px 0;
}

.enter-info__input--country .input {
  position: relative;
  z-index: 10;
  margin-left: -5px;
  padding: 0;
  padding-bottom: 12px;
  border-radius: 0 12px 12px 0;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.enter-info__input--country .input::-webkit-input-placeholder {
  color: rgba(38, 45, 56, 0.5);
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.enter-info__input--country .input::-moz-placeholder {
  color: rgba(38, 45, 56, 0.5);
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.enter-info__input--country .input:-ms-input-placeholder {
  color: rgba(38, 45, 56, 0.5);
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.enter-info__input--country .input::-ms-input-placeholder {
  color: rgba(38, 45, 56, 0.5);
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.enter-info__input--country .input::placeholder {
  color: rgba(38, 45, 56, 0.5);
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.enter-info__input--country .input:hover,
.enter-info__input--country .input:focus {
  color: var(--main-color);
}

.enter-info__input--country .input:hover::-webkit-input-placeholder, .enter-info__input--country .input:focus::-webkit-input-placeholder {
  color: var(--main-color);
}

.enter-info__input--country .input:hover::-moz-placeholder, .enter-info__input--country .input:focus::-moz-placeholder {
  color: var(--main-color);
}

.enter-info__input--country .input:hover:-ms-input-placeholder, .enter-info__input--country .input:focus:-ms-input-placeholder {
  color: var(--main-color);
}

.enter-info__input--country .input:hover::-ms-input-placeholder, .enter-info__input--country .input:focus::-ms-input-placeholder {
  color: var(--main-color);
}

.enter-info__input--country .input:hover::placeholder,
.enter-info__input--country .input:focus::placeholder {
  color: var(--main-color);
}

.enter-info__input--has-icon {
  position: relative;
}

.enter-info__input--has-icon img,
.enter-info__input--has-icon svg {
  position: absolute;
  top: 50%;
  right: 20px;
}

.enter-info__input .input[data-card] {
  padding-right: 65px;
}

.enter-info__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enter-info__country {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76px;
          flex: 0 0 76px;
}

.enter-info__country .select__title {
  overflow: visible;
  border-radius: 12px 0 0 12px;
}

.enter-info__country .select__icon {
  margin-top: -2px;
}

.enter-info__label {
  position: absolute;
  left: 20px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(38, 45, 56, 0.65);
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.enter-info__select {
  width: 100%;
}

.enter-info__select--messanger .select__title .select__asset img {
  width: 20px;
  height: 20px;
}

.enter-info__note {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1.3333333333;
  background: rgba(80, 129, 17, 0.05);
  border-radius: 8px;
}

.enter-info__note p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.enter-info__note svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  color: var(--green);
}

.enter-info__card-date {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 50px 40px;
  grid-template-columns: 50px 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 12px 20px;
  background-color: var(--white);
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}

/*.enter-info__card-date:not(:last-child) {*/
/*  margin-right: 20px;*/
/*  !*             @media (min-width:$md3) {*/
/*  }*/

/*  @media (max-width:$md3) {*/
/*      margin-bottom: 10px;*/
/*  } *!*/
/*}*/

.enter-info__card-date .select {
  background-color: var(--red);
}

.enter-info__card-date .select__value {
  padding: 0;
  -webkit-transform: translate3D(0px, 2px, 0);
      -ms-transform: translate3D(0px, 2px, 0);
          transform: translate3D(0px, 2px, 0);
}

.enter-info__card-date .select__options {
  max-width: 60px;
}

.enter-info__card-date .select__title {
  border-radius: 0px;
  overflow: visible;
}

.enter-info__card-date .select__pseudo-label {
  top: -19px;
  left: 0;
}

.enter-info__card-date .select__icon {
  -webkit-transform: translate3D(0px, 0px, 0);
      -ms-transform: translate3D(0px, 0px, 0);
          transform: translate3D(0px, 0px, 0);
}

.enter-info__card-date .select__options {
  top: 25px;
  left: -20px;
  width: 60px;
  padding: 10px;
}

.enter-info__card-date .select__option {
  text-align: center;
  padding: 5px 0;
}

.enter-info__card-date .enter-info__select:first-child {
  position: relative;
}

.enter-info__card-date .enter-info__select:first-child::after {
  /* content: "/"; */
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 57px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.enter-info__card-date ._select-open .select__icon {
  -webkit-transform: rotate(-180deg) translate3D(0px, 0px, 0);
      -ms-transform: rotate(-180deg) translate3D(0px, 0px, 0);
          transform: rotate(-180deg) translate3D(0px, 0px, 0);
}

.enter-info__add-inputs {
  padding-top: 16px;
}

.enter-info__checkboxes {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 290px;
          flex: 0 1 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enter-info__recurring {
  padding-top: 16px;
}

.enter-info__pay-systems {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: visibility 0.4s ease, opacity 0.4s ease;
  transition: visibility 0.4s ease, opacity 0.4s ease;
}

.enter-info__pay-systems.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.add-info__wrapper {
  padding: 15px 20px;
  border-radius: 12px;
  background-color: var(--white);
}

.add-info__title {
  font-weight: 700;
  line-height: 1.5;
}

.your-order {
  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 50px rgba(83, 99, 140, 0.1);
          box-shadow: 0px 0px 50px rgba(83, 99, 140, 0.1);
  border-radius: 30px;
}

.your-order__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.2857142857;
}

.your-order__table-row:not(.your-order__row--top) {
  border-bottom: 2px solid #f2f5f9;
}

.your-order__table-row--top {
  font-size: 12px;
  line-height: 1.2857142857;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(38, 45, 56, 0.65);
  background-color: rgba(38, 45, 56, 0.05);
}

.your-order__table-row--top .your-order__price {
  color: rgba(38, 45, 56, 0.65);
}

.your-order__package {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  margin-right: 5px;
}

.your-order__qty {
  -webkit-box-flex: 0;
      -ms-flex: 1 0 25px;
          flex: 1 0 25px;
  margin-right: 10px;
  text-align: center;
}

.your-order__per-pack {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  margin-right: 10px;
  text-align: center;
}

.your-order__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  font-weight: 700;
  color: var(--green);
  text-align: center;
}

.your-order__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.2857142857;
  border-bottom: 2px solid #f2f5f9;
}

.your-order__checkbox {
  margin-right: 10px;
}

.your-order__price {
  font-weight: 700;
  color: var(--green);
}

.your-order__input {
  width: 100%;
  background-color: rgba(38, 45, 56, 0.05);
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}

.your-order__input:not(:last-child) {
  margin: 0;
}

.your-order__input .input {
  /*background-color: transparent;*/
  /*background-color: #a4c57861;*/
  background-color: #62a1723b;
  padding-right: 75px;
}

.your-order__coupon-button {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 38px;
  height: 38px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  padding: 7px;
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  background-color: var(--green);
  color: var(--white);
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.your-order__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.your-order__edit-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 30px;
  background-color: rgba(80, 129, 17, 0.05);
  border-radius: 12px;
  color: var(--green);
  font-size: 15px;
  line-height: 1.4666666667;
  font-weight: 400;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.your-order__edit-button svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}

.totals-order__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(38, 45, 56, 0.65);
}

.totals-order__old-price {
  font-size: 15px;
  line-height: 1.5;
  color: var(--red);
}

.totals-order__old-price span {
  text-decoration: line-through;
}

.totals-order__total {
  /* text-transform: uppercase; */
  font-size: 16px;
  line-height: 1.3333333333;
  font-weight: 700;
}

.totals-order__savings {
  font-size: 15px;
  line-height: 1.2857142857;
  color: var(--green);
}

.content-crypto .enter-info__note span {
  font-weight: 700;
}

.content-crypto__items {
  display: -ms-grid;
  display: grid;
  gap: 6px;
}

.content-crypto__item input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.content-crypto__item input:checked + .content-crypto__label {
  border-color: var(--green);
}

.content-crypto__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16.5px 2px;
  border: 2px solid transparent;
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  background-color: var(--white);
  line-height: 1.5384615385;
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
  cursor: pointer;
}

.content-crypto__label svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 3px;
}

.details-payment__qr-code img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.details-payment__row {
  position: relative;
  padding: 12px 45px 12px 20px;
  background-color: var(--white);
  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}

.details-payment__title {
  font-size: 12px;
  line-height: 1.5;
  color: var(--green);
  text-transform: uppercase;
}

.details-payment__amount {
  margin-right: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4666666667;
  word-break: break-all;
}

.details-payment__old-price {
  margin-right: 10px;
  text-decoration: line-through;
  color: var(--red);
  font-size: 0.8125rem;
  line-height: 1.1538461538;
}

.details-payment__price {
  font-size: 13px;
  line-height: 1.5384615385;
}

.details-payment__copy-button {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
  color: var(--green);
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.details-payment__tip {
  position: absolute;
  right: 4px;
  top: -37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 12px 20px;
  color: var(--white);
  font-size: 12px;
  line-height: 1.3333333333;
  border-radius: 8px;
  background-color: rgba(80, 129, 17, 0.85);
  visibility: hidden;
  -webkit-transition: visibility 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: visibility 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, visibility 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, visibility 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
  opacity: 0;
  -webkit-transform: translate3D(0px, -20px, 0);
      -ms-transform: translate3D(0px, -20px, 0);
          transform: translate3D(0px, -20px, 0);
}

.text-copied .details-payment__tip {
  opacity: 1;
  -webkit-transform: translate3D(0px, 0px, 0);
      -ms-transform: translate3D(0px, 0px, 0);
          transform: translate3D(0px, 0px, 0);
  visibility: visible;
}

.details-payment__tip::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5.75px 0 5.75px;
  border-color: #689232 transparent transparent transparent;
}

.details-payment__tip svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  -webkit-transform: translate3D(0px, -2px, 0);
      -ms-transform: translate3D(0px, -2px, 0);
          transform: translate3D(0px, -2px, 0);
}

.succes {
  padding-top: 30px;
}

.succes__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
}

.succes__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
}

.succes__block:not(.succes__block--transparent) {
  padding: 18px 20px;
  background: rgba(80, 129, 17, 0.05);
  border-radius: 8px;
}

.succes__block span {
  color: var(--green);
}

.succes__block p:not(:last-child) {
  margin-bottom: 10px;
}

.succes__block--transparent {
  line-height: 1.8571428571;
}

.succes__link {
  font-weight: 700;
  line-height: 1.5;
  color: var(--green);
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.succes__phones span {
  color: var(--main-color);
}

.succes__button {
  max-width: 182px;
}

.succes__button svg {
  margin-right: 10px;
}

.succes__button span {
  color: var(--white);
  font-weight: 500;
  font-size: 15px;
}

.succes__last-words {
  line-height: 1.7142857143;
  font-weight: 400;
}

.succes__last-words p:not(:last-child) {
  margin-bottom: 8px;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #508111;
  border-radius: 2px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 6px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #508111;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@media (min-width: 29.99875em) {
  :root {
    --title-offsize: 2.5rem;
  }

  .popup__close {
    top: 15px;
    right: 15px;
  }

  .enter-info__input--has-icon .input {
    padding-right: 85px;
  }

  .enter-info__label {
    top: 12px;
  }

  .enter-info__shiping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .enter-info__shiping .title {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .enter-info__checkboxes {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .content-crypto__label {
    font-size: 13px;
  }
}

@media (min-width: 40.62375em) {
  .header__container {
    padding: 0 45px;
  }

  .header__content::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    display: block;
    height: 100%;
    max-width: 1400px;
    width: calc(100% - 30px);
    border-radius: 40px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: var(--green);
  }

  .header__top {
    position: relative;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: space-between; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 266px;
            flex: 0 0 266px;
  }

  .header__phones {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 488px;
    margin-right: 25px;
  }

  .header__bottom {
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
  }
}

@media (min-width: 47.99875em) {
  .title {
    margin-bottom: 16px;
    font-size: 30px;
  }

  .header__logo {
    margin-right: 70px;
  }

  .header__link-back {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 255px;
            flex: 0 0 255px;
  }

  .header__link-back {
    padding: 12px 30px;
  }

  .header__link-back svg {
    margin-right: 10px;
  }

  .header__partners {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.2716049383%;
            flex: 0 1 58.2716049383%;
  }

  .header__partner:not(:last-child) {
    margin-right: 5px;
  }

  .footer {
    padding: 17px;
  }

  .footer__text br {
    display: none;
  }

  .enter-info {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .enter-info__block {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .enter-info__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  .enter-info__row:not(:last-child) {
    margin-bottom: 30px;
  }

  .enter-info__row > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  /*.enter-info__input:not(:last-child) {
    margin-right: 20px;
  }*/

  .enter-info__input--has-icon img,
  .enter-info__input--has-icon svg {
    width: 60px;
    height: 38px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  /* .enter-info__line {
    max-width: 49.1666666667%;
  } */

  /*.enter-info__select:not(:last-child) {
    margin-right: 20px;
  }*/

  .enter-info__note {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .enter-info__note--has-offset {
    margin-bottom: 30px;
  }

  .add-info__title {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .add-info__checkbox {
    margin-bottom: 15px;
  }

  .your-order {
    padding-top: 30px;
  }

  .your-order__title {
    margin-bottom: 5px;
    padding: 0 30px;
  }

  .your-order__table-row {
    padding: 8px 30px;
  }

  .your-order__table-row--top {
    padding: 16px 30px;
  }

  .your-order__row {
    padding: 15px 30px;
  }

  .your-order__bottom-row {
    padding: 15px 30px;
  }

  .content-crypto__items {
    margin-bottom: 16px;
    padding-top: 16px;
  }

  .content-crypto__details {
    margin-bottom: 16px;
    padding-top: 16px;
  }

  .details-payment {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px auto;
    grid-template-columns: 140px auto;
    gap: 16px;
  }

  .details-payment__row:not(:last-child) {
    margin-bottom: 16px;
  }

  .succes {
    padding-bottom: 73px;
    font-size: 16px;
  }

  .succes__title {
    margin-bottom: 16px;
    font-size: 40px;
  }

  .succes__subtitle {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .succes__block {
    margin-bottom: 16px;
  }

  .succes__row {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 182px auto;
    grid-template-columns: 182px auto;
    gap: 20px;
  }

  .succes__link {
    font-size: 16px;
  }

  /* .succes__last-words {
    font-size: 14px;
  } */
}

@media (min-width: 61.99875em) {
  .popup__content {
    padding: 40px;
  }

  .thanks .popup__content {
    padding: 2.5rem;
  }

  .enter-info__form {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: auto 360px;
    grid-template-columns: auto 360px;
    gap: 30px;
  }

  .enter-info__sections {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 78.125em) {
  .enter-info__sidebar {
    position: sticky;
    top: 220px;
    z-index: 5;
    -webkit-transform: translate3D(0px, -204px, 0);
        -ms-transform: translate3D(0px, -204px, 0);
            transform: translate3D(0px, -204px, 0);
    -webkit-transition: top 0.4s ease;
    transition: top 0.4s ease;
  }

  .content-crypto__items {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 81.25em) {
  .top-phones-header__items {
    padding: 10px 0;
  }
}

@media (max-width: 81.25em) {
  .top-phones-header__items {
    margin-right: -30px;
    overflow: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    padding: 5px 30px 10px 0;
  }
}

@media (max-width: 78.125em) {
  .wrapper {
    overflow: hidden;
  }

  .content-crypto__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 61.99875em) {

  .popup__content {
    padding: 45px 15px 25px;
  }

  .enter-info__sidebar {
    margin-bottom: 20px;
  }

  .your-order__table-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .your-order__package {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.75%;
            flex: 0 0 29.75%;
  }

  .your-order__qty {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.8125%;
            flex: 0 0 7.8125%;
  }

  .your-order__per-pack {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.75%;
            flex: 0 0 18.75%;
  }

  .your-order__price {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15.625%;
            flex: 0 0 15.625%;
  }
}

@media (max-width: 47.99875em) {
  .title {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .header__logo {
    margin-bottom: 10px;
    text-align: center;
  }

  .header__link-back {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48px;
            flex: 0 0 48px;
    aspect-ratio: 1/1;
  }

  .header__link-back span {
    display: none;
  }

  .header__link-back svg {
    margin-right: 3px;
  }

  .header__partners {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__partner {
    padding: 4px;
  }

  .header__partner:not(:last-child) {
    margin-right: 2px;
  }

  .header__partner:nth-child(2) img {
    width: 54px;
    height: 31px;
  }

  .header__partner:nth-child(4) img {
    width: 61px;
    height: 19px;
  }

  .header__partner img {
    max-height: 31px;
  }

  .footer {
    padding: 9px;
  }

  .enter-info {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .enter-info__block {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .enter-info__row--no-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .enter-info__row--no-wrap > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .enter-info__row--no-wrap > *:not(:last-child) {
    margin-right: 10px;
  }

  .enter-info__row:not(:last-child) {
    margin-bottom: 10px;
  }

  .enter-info__input:not(:last-child),
  .enter-info__line:not(:last-child) {
    margin-bottom: 10px;
  }

  .enter-info__input--has-icon img,
  .enter-info__input--has-icon svg {
    width: 30px;
    height: 19px;
    -webkit-transform: translate(10px, -11%);
        -ms-transform: translate(10px, -11%);
            transform: translate(10px, -11%);
  }

  .enter-info__select:not(:last-child) {
    margin-bottom: 10px;
  }

  .enter-info__note--has-offset {
    margin-bottom: 10px;
  }

  .enter-info__card-date .enter-info__select:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .add-info__title {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .add-info__checkbox {
    margin-bottom: 12px;
  }

  .your-order {
    padding-top: 16px;
  }

  .your-order__title {
    margin-bottom: 17px;
    padding: 0 20px;
  }

  .your-order__table-row {
    padding: 10px 20px;
  }

  .your-order__table-row--top {
    padding: 16px 20px;
  }

  .your-order__row {
    padding: 15px 20px;
  }

  .your-order__bottom-row {
    padding: 15px 20px;
  }

  .content-crypto__items {
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .content-crypto__details {
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .details-payment__qr-code {
    margin-bottom: 10px;
    text-align: center;
  }

  .details-payment__row:not(:last-child) {
    margin-bottom: 10px;
  }

  .succes {
    padding-bottom: 20px;
    font-size: 14px;
  }

  .succes__title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .succes__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .succes__block {
    margin-bottom: 10px;
  }

  .succes__link {
    font-size: 14px;
  }

  .succes__phones span {
    display: block;
  }

  .succes__button {
    margin-bottom: 10px;
  }

  /* .succes__last-words {
    font-size: 12px;
  } */
}

@media (max-width: 40.62375em) {
  .header__container {
    padding-top: 15px;
  }

  .header__top {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--green);
  }

  .header__logo {
    display: block;
    max-width: 183px;
    margin: 0 auto 10px;
  }

  .header__phones {
    margin-bottom: 10px;
    text-align: center;
  }

  .header__link-back {
    margin-right: 2px;
    color: var(--green);
    background-color: rgba(80, 129, 17, 0.05);
  }
}

@media (max-width: 29.99875em) {
  :root {
    --main-offsize: 1rem;
    --title-offsize: 1.875rem;
  }

  .header__caption {
    text-align: center;
  }

  .popup__close {
    top: 10px;
    right: 10px;
  }

  .popup__close svg {
    width: 18px;
    height: 18px;
  }

  .enter-info__input--has-icon .input {
    padding-right: 45px;
  }

  .enter-info__label {
    top: 8px;
  }

  .enter-info__note svg {
    width: 18px;
    height: 18px;
  }

  .enter-info__card-date .enter-info__select:first-child::after {
    top: 60%;
    left: 55px;
  }

  .enter-info__checkbox {
    margin-right: 30px;
  }

  .content-crypto__label {
    font-size: 11px;
  }

  .content-crypto__label svg {
    width: 36px;
    height: 36px;
  }

  .succes__phones a {
    display: inline-block;
    margin-right: 10px;
  }
}

@media (min-width: 40.62375em) and (max-width: 47.99875em) {
  .header__logo {
    margin-right: 25px;
  }
}

@media (any-hover: hover) {
  .select__title:hover .select__pseudo-label {
    color: var(--blue);
  }

  .select__option:hover {
    color: var(--green);
  }

  .button:hover {
    opacity: 0.85;
  }

  .popup__close:hover {
    color: var(--gray);
  }

  .popup__close:hover svg {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .button:hover svg {
    -webkit-transform: translate3D(2px, 0px, 0);
        -ms-transform: translate3D(2px, 0px, 0);
            transform: translate3D(2px, 0px, 0);
  }

  .header__link-back:hover {
    color: rgba(255, 255, 255, 0.65);
  }

  .header__link-back:hover svg {
    -webkit-transform: translate3D(-2px, 0px, 0);
        -ms-transform: translate3D(-2px, 0px, 0);
            transform: translate3D(-2px, 0px, 0);
  }

  .top-phones-header__item:hover::after {
    width: 100%;
  }

  .enter-info__input:hover .enter-info__label {
    color: var(--main-color);
  }

  .your-order__coupon-button:hover {
    opacity: 0.85;
  }

  .your-order__edit-button:hover {
    color: var(--white);
    background-color: var(--green);
  }

  .content-crypto__label:hover {
    border-color: var(--green);
  }

  .details-payment__copy-button:hover {
    color: var(--main-color);
  }

  .succes__link:hover {
    opacity: 0.7;
  }
}

#insur_popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  z-index: 150;
  display: none;
}

.popup_block_insur {
  width: 100%;
  max-width: 57.5rem;
  background-color: #ebedf0;
  box-shadow: 20px 20px 50px rgba(161, 176, 207, 0.0361753);
  border-radius: 12px;
  transition: transform 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 40%;
  margin: 0 auto;
  height: 200px;
  padding: 10px 40px;
}

.close_popup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 35px;
}

.popup_head {
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 20px;
}

.popup_text {
  margin-bottom: 25px;
}

#change_insur {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: 160px;
  margin: 0 auto;
  padding: 17.5px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--white);
  background-color: var(--green);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  transition: opacity 0.4s ease;
}

/*-------*/
.ploader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1001;
}

.ploader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: ploader-rotate 2s infinite linear;
}

.ploader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #508111;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  animation: ploader-bounce 3s infinite ease-in-out;
}

.ploader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes ploader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ploader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .ploader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .ploader {
  display: none;
}

.christmas{
  width: 100%;
}

.christmas img {
  width: 100%;
}

.gift_block {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gift {
  background: #50811138;
  border-radius: 30px;
  width: 290px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift_text {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
}

.gift_code {
  display: flex;
  align-items: center;
  gap: 10px;
}

.code_text {
  font-weight: 600;
  font-size: 16px;
  color: var(--green);
}

#copy_img {
  width: 24px;
  cursor: pointer;
}